{% extends 'main.html' %}

{% block content %}
   <h1 class="task-header">Edit task</h1>

    <div class="form-container">
        <form method="post">
        {% csrf_token %}
            {% for field in form %}
                <div class="input-group">
                    <label id="mamaco" for="{{ field.name }}">{{ field.name.capitalize }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </div>
{% endblock content %}